<a href="https://colab.research.google.com/github/farid22022/Machine_Learning_From_Zero_to_Hero/blob/main/Complete_Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Numpy - Numerica Python

![Khulna_University_Logo.svg (1).png]()

Advantages of Numpy Arrays
1. Alows several Mathematical Operation
2. Faster operations

In [5]:
import numpy as np

List vs Numpy - time Taken

In [6]:
from time import process_time

Time taken  by a list

In [7]:
python_list = [i for i in range(1000000)]

start_time = process_time()

python_list = [i+5 for i in python_list]

end_time = process_time()

print(end_time - start_time)

0.0788981040000003

In [8]:
np_array = np.array([i for i in range(1000000)])

start_time = process_time()

np_array += 5

end_time = process_time()

print(end_time - start_time)

0.0013776799999991596

Numpy Array

In [9]:
#List
list1 = [1,2,3,4,5]
print(list1)
type(list1)

[1, 2, 3, 4, 5]

list

In [10]:
#numpy array
np_array = np.array([1,2,3,4,5])
print(np_array)
type(np_array)

[1 2 3 4 5]

numpy.ndarray

In [11]:
a=np.array([1,2,3,4,5])
print(a)

[1 2 3 4 5]

In [12]:
a.shape()

TypeError: 'tuple' object is not callable

In [13]:
a.shape

(5,)

In [14]:
b=np.array([(1,2,3,4,5),(6,7,8,9,10)])
print(b)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]

In [15]:
b.shape

(2, 5)

dtype

In [16]:
c= np.array([(1,2,3,4,5),(6,7,8,9,10)],dtype=float)
print(c)
c.shape

[[ 1.  2.  3.  4.  5.]
 [ 6.  7.  8.  9. 10.]]

(2, 5)

1. np.zeros((r,c))
2. np.ones((r,c))
3. np.full((r,c),x)

In [17]:
x = np.zeros((4,5))
print(x)

[[0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]]

In [19]:
y = np.ones((4,5))
print(y)

[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]

In [18]:
z = np.full((4,5),5)
print(z)

[[5 5 5 5 5]
 [5 5 5 5 5]
 [5 5 5 5 5]
 [5 5 5 5 5]]

Create an Identity Matrix

In [20]:
a = np.eye(5)
print(a)
print(np.eye(5,3))

[[1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1.]]
[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]
 [0. 0. 0.]
 [0. 0. 0.]]

Create a numpy array with random values

1. random.random((r,c))
2. random.randint(a,b,(r,c))

In [21]:
b = np.random.random((5,5))
print(b)

[[0.10289431 0.85575689 0.73679085 0.27195591 0.56358523]
 [0.65507556 0.41093244 0.65730945 0.91085759 0.45079061]
 [0.22481261 0.66331463 0.49701963 0.47935809 0.13584677]
 [0.26194804 0.70873887 0.78504456 0.75607315 0.05344364]
 [0.53614632 0.11770959 0.90785429 0.08866723 0.18705654]]

Random integer values array within a specific range

In [22]:
c = np.random.randint(10,100,(5,5,5))
print(c)

[[[33 32 47 20 91]
  [88 51 19 23 78]
  [11 82 58 58 33]
  [53 88 61 58 26]
  [78 85 34 77 59]]

 [[73 95 80 93 84]
  [27 12 30 97 56]
  [52 95 65 81 52]
  [32 66 38 29 57]
  [87 62 65 35 79]]

 [[74 57 54 85 57]
  [81 12 95 19 21]
  [18 31 43 75 20]
  [90 38 43 21 36]
  [21 71 32 24 38]]

 [[17 13 86 82 19]
  [85 90 97 99 35]
  [92 18 56 66 59]
  [23 77 22 87 52]
  [38 57 75 46 21]]

 [[21 37 95 18 86]
  [96 41 57 42 32]
  [22 21 34 15 97]
  [91 47 91 67 11]
  [53 82 42 80 24]]]

An array of evenly spaced values
1. np.linspace(starting_point, end_point, number_of_portion) ----> specifying the number of values required
2. np.arrange(start_value,end_value;difference) -----> Specify the step

In [23]:
d = np.linspace(10,30,5)
print(d)
e = np.linspace(1,10,2)
print(np.linspace(1,100,12))
print(e)

[10. 15. 20. 25. 30.]
[  1.  10.  19.  28.  37.  46.  55.  64.  73.  82.  91. 100.]
[ 1. 10.]

In [24]:
f = np.arange(10,20,5)
print(f)
print(np.arange(10,30,5))

[10 15]
[10 15 20 25]

Convert a list to a numpy array
1. np.asarray(np_array)

In [25]:
list2 = [1,2,3,4,5]
np_array_2 = np.asarray(list2)

print(np_array_2)
type(np_array_2)
print(np_array_2.size)
print(np_array_2.ndim)
print(np_array_2.dtype)

[1 2 3 4 5]
5
1
int64

Mathematical Operations on np array

In [26]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]
print(list1+list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
a = np.random.randint(0,10,(3,3))
b = np.random.randint(10,20,(3,3))
print(a,b,a+b)
print(a*b)
print(a-b)
print(a/b)

[[8 5 7]
 [1 6 2]
 [4 5 3]] [[17 11 14]
 [13 11 17]
 [10 14 11]] [[25 16 21]
 [14 17 19]
 [14 19 14]]
[[136  55  98]
 [ 13  66  34]
 [ 40  70  33]]
[[ -9  -6  -7]
 [-12  -5 -15]
 [ -6  -9  -8]]
[[0.47058824 0.45454545 0.5       ]
 [0.07692308 0.54545455 0.11764706]
 [0.4        0.35714286 0.27272727]]

In [40]:
print(np.add(a,b))
print(np.subtract(a,b))
print(np.multiply(a,b))
print(np.divide(a,b))
print(np.transpose(a))
print(np.trace(a))
print(a.T)
print(a.reshape((3,3)))

[[25 16 21]
 [14 17 19]
 [14 19 14]]
[[ -9  -6  -7]
 [-12  -5 -15]
 [ -6  -9  -8]]
[[136  55  98]
 [ 13  66  34]
 [ 40  70  33]]
[[0.47058824 0.45454545 0.5       ]
 [0.07692308 0.54545455 0.11764706]
 [0.4        0.35714286 0.27272727]]
[[8 1 4]
 [5 6 5]
 [7 2 3]]
17
[[8 1 4]
 [5 6 5]
 [7 2 3]]
[[8 5 7]
 [1 6 2]
 [4 5 3]]